.slot-machine {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 112px);
    grid-template-rows: repeat(3, 68px);
    column-gap: 24px;
    row-gap: 10px;
    padding: 8px 21px;

    border-radius: 20px;
    border: 1px solid #ffe600;
    background: rgba(21, 9, 31, 0.73);

    .reel {
      place-self: center;
      overflow: hidden;

      & > img{
        animation: rolling .25s ease-in-out;
      }
    }
  }
}
