.spiners {
  display: flex;
  gap: 10px;

  button {
    padding: 11px 27px;
    font-size: inherit;
    font-family: inherit;
    border-radius: 11px;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }

    &#auto {
      border: 1px solid #00a3ff;
      background: linear-gradient(180deg, #70ff00 0%, #bd00ff 0.01%, #005484 100%);
      box-shadow: 0 4px 4px 0 rgba(36, 255, 0, 0.27), 0 4px 4px 0 rgba(255, 247, 207, 0.65) inset, 0 -6px 4px 0 rgba(0, 163, 255, 0.26) inset;

      span {
        background-image: linear-gradient(180deg, #ffffff 0%, #1dc9ff 100%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px #5755df;
      }
    }

    &#spin {
      border: 1px solid #ffb800;
      background-image: linear-gradient(180deg, #70ff00 0%, #008405 100%);
      box-shadow: 0 4px 4px 0 rgba(36, 255, 0, 0.27), 0 4px 4px 0 rgba(255, 247, 207, 0.65) inset, 0 -6px 4px 0 rgba(0, 255, 56, 0.26) inset;

      span {
        background-image: linear-gradient(180deg, #ffffff 0%, #73ff1d 100%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-stroke: 1px #3ae401;
      }
    }
  }
}
